%h1 My projects

%table{:class => 'table table-striped'}
  %thead
    %tr= t('labels.projects.name')

  %tbody
    -@projects.each do |prj|
      %tr
        %td= link_to prj.name, project_path(prj)

= link_to 'Create my project', new_project_path, class: "btn btn-primary btn-sm"